<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoアプリ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="todoAppWrapper">{% block content%}{% endblock content %}</div>
</body>
</html>